* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: #222222;
  zoom: 0.7;
}

img {
  display: block;
  max-width: 100%;
}
